.cards {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  font-size: 14px;
  padding: 0.5rem;
}

.card {
  min-width: 200px;
  border-radius: var(--border-radius);
  background: #efefef;
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
  padding: 1rem;
}
.card h3 {
  margin-bottom: 0.8rem;
  display: flex;
  justify-content: space-between;
}

.table {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
